body {
    /* display: block; */
    background: rgb(17, 19, 22);
    background: -moz-radial-gradient(circle, rgba(17, 19, 22, 1) 35%, rgba(7, 7, 7, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(17, 19, 22, 1) 35%, rgba(7, 7, 7, 1) 100%);
    background: radial-gradient(circle, rgba(17, 19, 22, 1) 35%, rgba(7, 7, 7, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#111316", endColorstr="#070707", GradientType=1);
}

.container {
    /* border-style: solid;
    border-color: greenyellow;
    border-width: 1px; */
    height: fit-content;
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 100px;
    padding: 10px;
}

.left {
    /* border-style: solid;
    border-color: yellow;
    border-width: 1px; */
    display: inline-block;
}

.right {
    /* border-style: solid;
    border-color: cyan;
    border-width: 1px; */
    display: inline-block;
    vertical-align: top;
}

.javserPhone {
    /* border-style: solid;
    border-color: red;
    border-width: 1px; */
    display: inline-block;
    margin: 0px;
    padding: 5px;
    margin-top: 50px;
}

.javserLogo {
    /* border-style: solid;
    border-color: blue;
    border-width: 1px; */
    height: 180px;
    width: 180px;
    margin: auto;
    margin-top: 75px;
}

.description {
    /* border-style: solid;
    border-color: green;
    border-width: 1px; */
    font-family: 'Next Art Bold';
    color: #ffffff;
    font-size: 40px;
    vertical-align: top;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.downloadButtonDiv {
    /* border-style: solid;
    border-color: green;
    border-width: 1px; */
    width: 250px;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
}

.downloadButton {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    width: 250px;
    height: 77px;
    vertical-align: top;
    font-family: 'Next Art Bold';
    font-size: 30px;
    text-align: center;
    line-height: 77px;
    color: white;
    text-decoration: none;
    outline: none !important;
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.2s;
    margin: 0 auto;
}

.downloadButton:hover {
    cursor: pointer;
    background-color: #191d20;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@font-face {
    font-family: 'Next Art Bold';
    src: url('fonts/next_art_bold-webfont.woff2') format('woff2'), url('fonts/next_art_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in-top {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}